{{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
<span class='posted-on tooltip'>
  {{- partial "svg/icon" "calendar" -}}
  <span class="tooltiptext">posted on</span>
  <span class='screen-reader-text'>{{ i18n "postedOn" }} </span>
  <time class='entry-date' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
    {{- .Date.Format $dateFormat -}}
  </time>
</span>
{{- if ( not ( eq .Lastmod .Date ) ) -}}
  {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
  <span class='last-updated tooltip'>
    {{- partial "svg/icon" "edit" -}}
    <span class="tooltiptext">last updated on</span>
    <span class='screen-reader-text'>{{ i18n "lastUpdated" }}: </span>
    <time class='entry-date' datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
      {{- .Lastmod.Format $dateFormat -}}
    </time>
  </span>
{{- end -}}
