/* Custom CSS */
.tooltip {
  position: relative;
  display: inline;
  border-bottom: 0.5px dotted rgba(0, 0, 0, 0.2);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #888;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -75px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
